<div class="container mt-4">
  <h3>Orders</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Order ID</th>
<!--      <th>Items</th>-->
      <th>Total Amount</th>
      <th>Status</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
<!--      <td>{{ order.items }}</td>-->
      <td>{{ order.totalPrice }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.createdAt}}</td>
      <td>
        <button class="btn btn-sm btn-info"
                (click)="viewOrderDetails(order.id)">
          View
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
