<div class="container mt-4">
  <h2>All Products</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-3 h-100 d-flex flex-column">
        <div class="card-body flex-grow-1">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}...</p>
          <p class="card-text"><strong>₹{{ product.price }}</strong></p>
<!--          <p class="card-text">{{ product.stock }}</p>-->
<!--          <p class="card-text">{{ product.category}}</p>-->
<!--          <p class="card-text">{{ product.active}}</p>-->
        </div>
        <div class="card-footer bg-transparent border-0 mt-auto">
          <button class="btn btn-primary" (click)="viewDetails(product.id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
