
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-sm p-4">
        <h3 class="mb-4 text-center">Register</h3>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username">Username</label>
      <input formControlName="username" class="form-control" id="username" />
      <div class="text-danger" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
        <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</small>
        <small *ngIf="registerForm.get('username')?.errors?.['minlength']">Minimum 3 characters required.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input formControlName="email" class="form-control" id="email" />
      <div class="text-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" />
      <div class="text-danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 6 characters required.</small>
        <small *ngIf="registerForm.get('password')?.errors?.['pattern']"> Password must include at least one uppercase letter, one digit, and one special character.</small>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid || loading">
      {{ loading ? 'Registering...' : 'Register' }}
    </button>
  </form>
     </div>
    </div>
  </div>
</div>
